---
import { SOCIAL_LINKS } from '../constants/social';
---

<footer class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-12">
      <div class="flex flex-col lg:items-start items-center space-y-6 gap-9">
        <div class="flex space-x-6 sm:space-x-8">
          {Object.values(SOCIAL_LINKS).map((link) => (
            <a
              href={link.href}
              target="_blank"
              class="flex flex-col items-center group"
              aria-label={link.label}
            >
              <div class="text-[var(--white-icon)] hover:text-[var(--white)]">
                <div set:html={link.icon}></div>
              </div>
            </a>
          ))}
        </div>
      </div>

      <div class="flex flex-col items-center md:items-start space-y-6">
        <div class="grid grid-cols-1 gap-3 w-full max-w-xs">
          {[
            { 
              desc: "Built with",
              name: "Astro",
              icon: "/svg/astro.svg",
              alt: "Astro Logo"
            },
            {
              desc: "Styled with",
              name: "TailwindCSS",
              icon: "/svg/tailwind.svg",
              alt: "TailwindCSS Logo"
            },
            {
              desc: "Deployed on",
              name: "GitHub Pages",
              icon: "/svg/github.svg",
              alt: "GitHub Pages Logo"
            }
          ].map((tech) => (
            <div class="flex items-center space-x-3">
              <span class="text-[var(--white-icon)] text-sm">{tech.desc}</span>
              <img 
                src={tech.icon} 
                alt={tech.alt} 
                class="h-5 w-5 object-contain"
                loading="lazy"
              />
              <span class="text-[var(--white-icon)] text-sm">{tech.name}</span>
            </div>
          ))}
        </div>
      </div>

      <div class="flex flex-col items-center lg:items-start space-y-6">
        <div class="w-full max-w-xs">
          <iframe 
            style="border-radius:12px border:0;"
            src="https://open.spotify.com/embed/album/56mXsvBsKgRCXgmtzOAC22?utm_source=generator" 
            class="w-full h-40"
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy"
            aria-label="Spotify Embed"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</footer>